<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" offset-md="3">
<ion-card>
  <ion-card-content>
  <h1> Corona Virus Covid-19 Real-Time Tracking System </h1>
   Candidate: Itumeleng Fortunate Oliphant
   Host: MLab
  </ion-card-content>

  <ion-footer>
    <ion-button >Go</ion-button>
    <ion-button >Covid-Quizz</ion-button>
  </ion-footer>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
